<meta charset="UTF-8">
<style>
#simg{
	width:400px;
	height:300px;
	margin:5px;
}
</style>

<script>
$(document).ready(function(){
	var getdata = function(){
		for(var i=0; i<11; i++){
			$('#data').append('<img id="simg" src="img/mymelody.jpg">');
		};
	};
	getdata();
	$(window).scroll(function(){
		/*
		$('h1').text($(document.height()+' '
				+$(window).scrollTop()+' '+$(window).height());
		*/
		var doch = $(document).height();
		var winh = $(window).scrollTop()+$(window).height();
		if(doch <= winh + 50){
			getdata();
		};
	});
});
</script>
<h1>jQ13 Main</h1>

<div id="data"></div>