<meta charset="UTF-8">

<div class="sidebar-heading border-bottom bg-light">MBTI</div>
<div class="list-group list-group-flush">
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="synopsis">Synopsis</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="test">Test</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="result">Result</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="information">Information</a>
    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="contact">Contact</a>
    
</div>