<meta charset="UTF-8">

<h1>Information</h1><br>
<h5>MBTI에서는 인간의 내적 과정을 다음과 같이 4가지 선호 경향으로 분류한다.</h5>
<img src="img/ei.jpg">
<br>
<br>
<h5>* 주의초점 - 에너지의 방향</h5>
<br>
<h6>- 외향 (Extroversion) - 자기 외부에 주의 집중. 다른 누군가에게 발상, 지식이나 감정을 표현함으로써 에너지를 얻는다. 사교적, 활동적이며 외부 활동에 적극성을 발휘한다. 폭넓은 대인관계를 가지며 글보다는 말로 표현하기를 좋아한다. 경험을 통해 이해한다.</h6>
<br>
<h6>- 내향 (Introversion) - 자기 내부에 주의 집중. 발상, 지식이나 감정에 대한 자각의 깊이를 늘려감으로써 에너지를 얻는다. 조용하고 신중하며 내면 활동에 집중력을 발휘한다. 깊이있는 대인관계를 가지며 말보다는 글로 표현하기를 좋아한다. 이해한 다음 행동한다.</h6>
<br>
<h5>* 인식기능 - 사람이나 사물을 인식하는 방식</h5>
<br>
<h6>- 감각 (Sensing) - 오감 및 경험에 의존. 현실적인 타입. 실제의 경험을 중시하고 지금에 초점을 맞추어 일처리한다. 숲보다 나무를 보려는 경향이 강하다.</h6>
<br>
<h6>- 직관 (iNtuition) - 직관 및 영감에 의존. 이상주의적인 타입. 아이디어를 중시하고 추상적, 미래지향적이고 개연성과 의미에 초점을 맞추어 신속, 비약적으로 일처리한다. 비유적, 암시적으로 묘사한다. 나무보다 숲을 보려는 경향이 강하며 자신만의 세계가 뚜렷한 편이다.</h6>
<br>
<h5>* 판단기능 - 판단의 근거</h5>
<br>
<h6>- 사고 (Thinking) - 업무 중심 타입. 진실과 사실에 주로 관심을 가지며 '맞다, 틀리다'의 판단 선호. 논리적, 분석적이며 객관적으로 사실을 판단한다. 원리와 원칙을 중시한다. 논평하기를 좋아한다. 감정형보다 현실적이다.</h6>
<br>
<h6>- 감정 (Feeling) - 인간관계 중심 타입. 사람과의 관계에 주로 관심을 가지며 '좋다, 나쁘다'의 판단 선호. 상황적, 포괄적이며 주변 상황을 고려하여 판단한다. 의미, 영향, 도덕성을 중시한다. 우호적인 협조, 공감하기를 좋아한다. 사고형보다 이상주의적이다.</h6>
<br>
<h5>* 생활양식 - 선호하는 삶의 패턴</h5>
<br>
<h6>판단 (Judging) - 분명한 목적과 방향 선호. 계획적이고 체계적이며 기한을 엄수한다. 깔끔하게 정리정돈을 잘하며 뚜렷한 자기의사와 기준으로 신속하게 결론을 내린다.</h6>
<br>
<h6>인식 (Perceiving) - 유동적인 목적과 방향 선호. 자율적이고 융통성이 있으며 재량에 따라 일정을 변경할 수 있다. 상황에 따라 적응하며 결정을 보류한다.</h6>
<br>
<h5>주의할 점은, 어떤 사람이 외향형이라고 해서 내향적인 성격 요소가 그 사람에게 전혀 없다고 말할 수는 없다. 누구나 위의 여덟 가지 특성을 조금씩 다 가지고 있다. MBTI에서 보고자 하는 것은 개인이 각 요소들 가운데 어느 요소의 특징이 더 강하느냐이다. 따라서 MBTI를 통해 성격 유형이 16가지만 있다고 할 수 없으며 해당 유형에 속하는 사람들이 대체로 어떤 경향을 보이는지 분류 할 수 있을 뿐이다.</h5>
<br>
