<meta charset="UTF-8">

<h1>Synopsis</h1>

<h5>마이어스-브릭스 유형 지표(Myers-Briggs Type Indicator)는 개인이 쉽게 응답할 수 있는 자기보고서 문항을 통해 인식하고 판단할 때의 각자 선호하는 경향을 찾고, 이러한 선호 경향들이 인간의 행동에 어떠한 영향을 미치는가를 파악하여 실생활에 응용할 수 있도록 제작된 심리 검사이다.

MBTI 유형을 통해 자신의 유형을 16가지 중에서 찾을 수 있으며 상대적이다. 캐서린 쿡 브릭스(Katharine C. Briggs)와 그녀의 딸 이저벨 브릭스 마이어스(Isabel Briggs Myers)가 제작하였으며, 카를 융의 성격 유형 이론을 근거로 하였다. 검사를 통해 내향성 또는 외향성, 감각 또는 직관, 사고 또는 느낌, 판단, 지각의 네 가지 범주를 지정한다.

이 지표는 본래 제2차 세계 대전의 발발로 인해 개발되었다. 징병제로 인해 발생한 인력 부족 및 총력전으로 인한 군수 공업의 수요 증가로 남성 노동자가 지배적이던 산업계에 여성이 진출하게 되어, 이들이 자신의 성격 유형을 구별하여 각자 적합한 직무를 찾도록 할 목적으로 1944년에 개발되었다.

오늘날에는 여러 성격 유형 검사 중 가장 대중적으로 알려진 지표 가운데 하나이다. 작게는 잡지 등 흥미 위주의 성격 테스트로, 크게는 기업체 등 진로 선택을 위한 인성 검사로 다양하게 쓰인다. 한편 MBTI 연구소 연구부장의 궁합 관련 유튜브 영상과 MBTI 연구소 측은 MBTI 궁합론이 초등학생들이 하는 이름놀이만큼이나 비과학적인 행위라고 주장하며, 이에 대한 맹신이나 과몰입을 지양하도록 주장한다.</h5>
