<meta charset="UTF-8">
<script>
window.onload = function(){
	var h2 = document.querySelector('#hh2');
	var num = 100; // number
	var b = true; // boolean
	var str = '100'; // String
	var v; // undefined
	// array
	var a = [1,2,3,4,5]; 
	// object
	// = JSON(JavaScript Object Notaion)
	var obj = {id:'id01',name:'lee',age:10};
	// function
	var f = function(){
		return 333;
	};
	
	var type = typeof(f); // 무슨 타입인지를 알기 위해 쓰는 함수
	h2.innerHTML = type + ' '+f();
};

</script>

<h1>JS02 Main</h1>
<h2 id="hh2"></h2>
