<meta charset="UTF-8">
<style>
	#result{
		width:300px;
		border: 2px solid red;
	}
	#result > #tb01 {
		width:200px;
		border: 2px solid blue;
	}
</style>
<script>
function getdata(){
	// JSON
	var a = [
		{id:'id01',name:'lee',age:10},
		{id:'id02',name:'kim',age:20},
		{id:'id03',name:'han',age:30},
		{id:'id04',name:'yoo',age:40},
		{id:'id05',name:'koo',age:50}
	];
	var txt = '';
	txt += '<table id="tb01">';
	txt += '<thead>';
	txt += '<tr><th>ID</th><th>NAME</th><th>AGE</th></tr>';
	txt += '</thead>';
	txt += '<tbody>';
	
	for(var i in a){ // for문 안에서는 tr이 돌아감
		txt += '<tr>';
		txt += '<td>' + a[i].id+'</td>';
		txt += '<td>' + a[i].name+'</td>';
		txt += '<td>' + a[i].age+'</td>';
		txt += '</tr>';
	};
	txt += '</tbody>';
	txt += '</table>';
	document.querySelector('#result').innerHTML = txt;
};
</script>

<h1>JS04 Main</h1>
<h2><a href="#" onclick="getdata();">Click</a></h2>
<div id="result"></div>

