<meta charset="UTF-8">
<script>
	function a(n){
		var result = n * 1000;
		return result;
 	};
 	var b = function(n,m){
 		var result = n * m;
		return result;
	};
	var result = b(100,222);
	// alert(result); // 함수가 함수를 return 할 수 있음
	
	function c(){
		return function(){
			return 100;
		};
	};
	
	var r1 = c();
	var result2 = r1();
	// alert(result2);
	
	function d(f){
		var result = f() * 2;
		return result;
	};
	var dd = function(){
		return 100;
	};
	var result3 = d(dd); // 함수의 argument에 함수를 넣어줄 수 있음
	// alert(result3);
	
	function display(){
		setInterval(function(){
			var d = new Date();
			var result = d.getHours()+' '+d.getMinutes()+' '+d.getSeconds();
			document.querySelector('#time').innerHTML = result;}, 
		1000); // 1000milliseconds = 1초
	};
	
	window.onload = function() {
		display();
	};
	
	
	
</script>
<h1>JS05 Main</h1>
<h2 id="time"></h2>








