<meta charset="UTF-8">
<style>
	table{
		width:100px;
		border: 2px solid red;
	}

</style>
<script>
function calc(n){
	// alert(n);
	if(n == '='){
		var data = document.querySelector('#txt').value;
		var result = eval(data);
		document.querySelector('#txt').value = result;
		return;
	}
	var data = document.querySelector('#txt').value;
	data += n;
	document.querySelector('#txt').value = data;
};
</script>
<h1>JS07 Main</h1>
<table>
<tbody>
	<tr>
		<td colspan="4"><input type="text" id="txt"></td>
	</tr>
	<tr>
		<td><button onclick="carc('1');">1</button></td>
		<td><button onclick="carc('2');">2</button></td>
		<td><button onclick="carc('3');">3</button></td>
		<td><button onclick="carc('+');">+</button></td>
	</tr>
	<tr>
		<td><button onclick="carc('4');">4</button></td>
		<td><button onclick="carc('5');">5</button></td>
		<td><button onclick="carc('6');">6</button></td>
		<td><button onclick="carc('=');">=</button></td>
	</tr>
	<tr>
		<td><button onclick="carc('7');">7</button></td>
		<td><button onclick="carc('8');">8</button></td>
		<td><button onclick="carc('9');">9</button></td>
		<td><button onclick="carc('*');">*</button></td>
	</tr>
	<tr>
		<td><button onclick="carc('+/-');">+/-</button></td>
		<td><button onclick="carc('0');">0</button></td>
		<td><button onclick="carc('.');">.</button></td>
		<td><button onclick="carc('/');">=</button></td>
	</tr>
	
</tbody>
</table>