<meta charset="UTF-8"> 
<script> // script가 밑에 있으면 window.onload 필요없음
window.onload = function(){
	var c1 = document.querySelector('#c1');
	var c2 = document.querySelector('#c2');
	var c3 = document.querySelector('#c3');
	var h1 = document.querySelector('h1'); // 글자에도 이벤트를 붙힐 수 있음
	h1.onclick = function(){
		var c = prompt('숫자를 입력하세요?',0); 
		this.innerHTML = c; // !중요! this는 h1 자신을 의미함 (document.querySelector 안 씀)
	};
	
	c1.onclick = function(){
		// alert('c1');
		h1.innerHTML = 'Clicked C1';
	};
	
	c2.onclick = function(){
		// alert('c2');
		var c = confirm('회원가입 하시겠습니까?');
		if(c == true){
			location.href='/'; 
	};
	}
	
	c3.onclick = function(){
		// alert('c3');
		var c = confirm('네이버로 가시겠습니까?');
		if(c == true){
			location.href='http://www.naver.com'; 
			// !중요! js에서 어떠한 위치로 이동하는건 항상 location.href 사용
		};
	}
	
};
</script>
<h1>JS09 Main</h1>
<button id="c1">Click1</button>
<button id="c2">Click2</button>
<h2><a id="c3" href="#">Click</a></h2>